# =========================
# Build outputs
# =========================
*.exe
*.out
*.obj
*.o
*.dll
*.pdb

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# CMake / build folders (future-proof)
# =========================
build/
cmake-build-*/

# =========================
# OS junk
# =========================
Thumbs.db
.DS_Store

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.py

# =========================
# Github Internals
# =========================

*gitignore

# =========================
# Project Maintenance
# =========================
BuildCollection\
*.py